* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	width: 90%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 2em;
}

.search {
	margin-top: 1em;
	margin-bottom: 2em;
	padding: 0 10px;
	height: 2.5em;
	width: 50%;
	outline: none;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-gap: 33px;
}
